<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
    h1{
    font-family: f1;
}
    #main {
  box-shadow:
  inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}
.blinking {
  animation-name: blinking;
  animation-duration: 6s;
  animation-iteration-count: 100;
}
@keyframes blinking {
    0% {
    box-shadow: 40%;
    background-color: #000000;
  }
  5% {
    box-shadow: 50%;
    background-color: #000000;
  }
  10% {
    box-shadow: 60%;
    
  }
  15% {
    box-shadow: 85%;
  }
  25% {
    box-shadow: 50%;
    background-color: #000000;
  }
  30% {
    box-shadow: 100%;
  }
  35% {
    box-shadow: 10%;
    background-color: #000000;
  }
  40% {
    box-shadow: 25%;
    background-color: #000000;
  }
  45% {
    box-shadow: 60%;
  }
  60% {
    box-shadow: 100%;
  }
  70% {
    box-shadow: 85%;
  }
  80% {
    box-shadow: 40%;
    background-color: #000000;
  }
  90% {
    box-shadow: 50%;
    background-color: #000000;
  }
  100% {
    box-shadow: 100%;
  }
}
</style>

<div class="container-fluid  blinking" id="main" style="background-color: grey; border-radius: 10px; position: relative; width: 100%; height: auto; top: 20px;">
<h1>Welcome to My Cyberpunk Personal Blog
</h1>
</div>
